{
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "require-atomic-updates": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-function-return-type": 0
  }
}
